// Core stylesheet for Public pages
@import "setting";
$output-framework: true;
@import "edje-v15";

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }


///// FONT /////

/*
@include font-faces("Font Name", (
  ("font.woff", 400),
  ("font-italic.woff", 400, italic),
  ("font-bold.woff", 700), // always append comma
));
*/

///// BUTTON /////

%button {
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-style: solid;
  border-width: 1px 1px 2px;
  padding: 0.5em 0.75em;

  font-weight: 600;
  text-decoration: none;
  line-height: normal;
  vertical-align: top;

  border-radius: $g-radius;
  transition: none;

  &:active {
    border-width: 2px 1px 1px;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: .3;
  }
}


.button,
a.button,
[type="submit"],
[type="button"],
[type="reset"] {
  @extend %button;
  border-color: $color-main-dark;
  background-color: $color-main;
  color: white;

  &:hover {
    border-color: darken( $color-main-dark, 10% );
  }
}

// passive button

.button-passive,
a.button-passive {
  @extend %button;
}

.button-passive,
a.button-passive,
.button.loading {
  border-color: $color-passive;
  background-color: $color-passive-light;
  color: $font-color;

  &:hover {
    border-color: darken( $color-passive, 10% );
    color: $font-color;
  }
}

.button.loading {
  cursor: not-allowed;
  background-image: url( $spinner_path );
  background-position: center center;
  background-repeat: no-repeat;
  color: transparent !important;
}

// line button

.button-line {
  @extend %button;

  border-color: $color-main;
  color: $color-main;
  background-color: transparent;
}

///// INPUT /////

[type="text"],
[type="number"],
[type="tel"],
[type="password"],
[type="email"],
[type="search"],
[type="url"],
[type="date"],
[type="time"],
textarea,
select {
  display: block;
  width: 100%;
  padding: 0.5em 0.75em;
  border: 2px solid $color-passive;
  border-radius: $g-radius;

  line-height: normal;
  transition: $g-transition;

  &:focus {
    border-color: $color-main;
    box-shadow: 0 0 0 2px #78dcfa;
  }
}

select {
  border-width: 1px 1px 2px;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
  border: 1px solid rgba(black, .2);
  width: 1rem;
  height: 1rem;
  vertical-align: middle;

  transition: $g-transition;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;


  &:hover {
    border-color: $color-main;
  }

  &:checked {
    border-color: $color-main;
    box-shadow: inset 0 0 0 4.5px $color-main;
  }

  + label,
  + span {
    margin-left: 0.5rem;
  }
}

input[type="checkbox"] {
  border-radius: $g-radius;
}

input[type="radio"] {
  border-radius: 50%;
}
